
.login{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:400px;
	height:300px;
	background-color:#563B6E;
	color:#9CE067;
	margin: auto;
	margin-top: 25px;
	border-radius:14px;
}
.submit {
	border-radius: 25px;
	padding:10px;

}

.submit:hover{
	background-color:#D0D030;
}